#para{
    line-height: 1.5em;
    font-size: 1.2em;
    /*3.2.2 E(III) Use of margins*/
    margin:25px 0 25px 50px;
    display:inline-block;
}
#portrait{
    float:right;
    margin: 50px 4% 25px 2%;
    /*3.2.2 E(IV) Use of borders*/
    border:5px groove black;
    border-radius:3px;
}
div{
    overflow:auto;
}
h2{
    margin:25px 0 25px 50px;
}